[Desktop Entry]
Type=Application
Name=wxFormBuilder
GenericName="wxFormBuilder"
Comment="wxFormbuilder for wxWidgets software development"
Exec=/opt/dveltool/toolchain/ide/wxFormBuilder/output/bin/wxformbuilder
Icon=/opt/dveltool/toolchain/ide/wxFormBuilder/output/resources/icons/logo.png
Terminal=false
Categories=Development;IDE
MimeType=text/x-eclipse
Keywords=ide;
Name[en_US]=wxFormBuilder

