[Desktop Entry]
Type=Application
Name=wxEclipse
GenericName="Eclipse IDE / Toolchain"
Comment="Cross architecture IDE (Raspberry Pi, Arduino, etc...)"
Exec=/opt/dveltool/toolchain/ide/eclipse/eclipse
Icon=/opt/dveltool/toolchain/ide/eclipse/icon.xpm
Terminal=false
Categories=Development;IDE
MimeType=text/x-eclipse
Keywords=ide;
Name[en_US]=wxEclipse
